html, body {
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
  font-family: "Verdana", sans-serif;
}

.app {
  &__header {
    background-color: #9468de;
    color: white;
    padding: 10px 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    padding: 2rem;
    background-color: white;
    margin: 0;
    color: #9468de;
    box-sizing: border-box;
    border-radius: 15px;
  }

  &__nav {
    background-color: #413161;
    color: white;
    position: sticky;
    top: 0;

    ul {
      display: flex;
      margin: 0;
      list-style-type: none;

      li a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 1.5rem 3rem;
        font-weight: 600;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          border-radius: 10px 10px 0 0;
          width: 100%;
          height: 0;
          background-color: #9468de;
          z-index: -1;
          transition: all 0.3s ease-in-out;
        }
        &:hover::after {
          height: 100%;
        }
      }
    }
  }
  &__grid{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    padding: 4rem;
    margin: 1rem;
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    li{
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      text-decoration: none;
      background-color: #e6e4e4;
      border-radius: 5px;
      position: relative;
      transition: all .2s ease-in-out;
      &:hover{
        animation: shake 0.6s infinite;
      }
      img{
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2 ;
        height: 100%;
        left: 0;
        border-radius: 4px;
      }
      p{
        width: 100%;
        font-size: 1rem;
        font-weight: bold;
        color: white;
        background-color: rgba(67, 38, 128, 0.7);
        padding: 1rem 2rem;
        z-index: 2;
        margin-bottom: 0;
        border-radius: 4px;
        position: relative;
        display: flex;
        align-items: center;
        span{
            font-size: 1rem;
            color: white;
            background-color: rgb(217, 137, 41);
            padding: 0.5rem 1rem;
          font-family: sans-serif;
            z-index: 2;
            margin-bottom: 0;
            border-radius: 4px;
            position: relative;
          font-weight: bold;
          margin-left: 1rem;
        }
      }
    }
  }
}

// animations translate 30% scale 1.1 rotate 34deg  skew 3d 3deg

