html, body {
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
  font-family: "Verdana", sans-serif;
}

.app {
  &__header {
    background-color: #002e87;
    color: white;
    padding: 10px 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    padding: 2rem;
    color: white;
    margin: 0;
    box-sizing: border-box;
    border-radius: 15px;
  }

  &__nav {
    background-color: #52ae32;
    color: white;
    position: sticky;
    top: 0;
    z-index : 15;
    display: flex;justify-content: space-between;
    align-items: center;
    &logo{
      padding-right: 1rem;
      &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
          margin-left: .5rem;
        }
        a{
          color: white;
          font-family: sans-serif;
          padding: 1rem;
          text-decoration: none;
          font-weight: bold;
          font-size: 1rem;
          border-radius: 5px;
          background-color : #002e87;
          margin-right: 2rem;
          &:hover{
            background-color: #163c9e;

          }
        }
      }
    }

    ul {
      display: flex;
      margin: 0;
      list-style-type: none;

      li a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 1.5rem 3rem;
        font-weight: 600;
        position: relative;
        font-family: sans-serif;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          border-radius: 10px 10px 0 0;
          width: 100%;
          height: 0;
          background-color: #163c9e;
          z-index: -1;
          transition: all 0.3s ease-in-out;
        }
        &:hover::after {
          height: 100%;
        }
      }
    }
  }
  &__grid, &__grid__slider{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    padding: 4rem;
    margin: 1rem;
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    &__slider{
      list-style-type: none;
      display: block;
      padding: 2rem;
      grid-gap: 0;
      background-color : unset;
      margin: 3rem;
    }
    li, & > a{
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      text-decoration: none;
      background-color: #e6e4e4;
      border-radius: 5px;
      position: relative;
      transition: all .2s ease-in-out;
      &:hover{
        animation: shake 0.6s infinite;
      }
      img{
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2 ;
        height: 100%;
        left: 0;
        border-radius: 4px;
      }
      p{
        width: 100%;
        font-size: 1rem;
        font-weight: bold;
        color: white;
        background-color: rgba(38, 64, 128, 0.93);
        padding: 1rem 2rem;
        z-index: 2;
        margin-bottom: 0;
        border-radius: 4px;
        position: relative;
        display: flex;
        align-items: center;
        span{
            font-size: 1rem;
            color: white;
            background-color: rgb(217, 137, 41);
            padding: 0.5rem 1rem;
          font-family: sans-serif;
            z-index: 2;
            margin-bottom: 0;
            border-radius: 4px;
            position: relative;
          font-weight: bold;
          margin-left: 1rem;
        }
      }
    }
    &__categ{
      li{
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-decoration: none;
        background-color: #e6e4e4;
        border-radius: 5px;
        position: relative;
        transition: all .2s ease-in-out;
        &:hover{
          animation: shake 0.6s infinite;
          a{
            span{
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
            }
          }
        }
        &:nth-child(2n+1) p{
          background-color: rgb(4, 94, 185);
        }
        a{
          width: 100%;
          font-size: 1.4rem;
          text-transform: uppercase;
          text-decoration : none;
          font-weight: bold;
          box-sizing: border-box;
          color: white;
          background-color: rgba(38, 64, 128, 0.93);
          padding: 1rem 2rem;
          z-index: 2;
          height: 100%;
          font-family: sans-serif;
          margin-bottom: 0;
          border-radius: 4px;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          span{
            font-size: 1rem;
            transition: all .2s ease-in-out;
            color: white;
            background-color: rgb(217, 137, 41);
            padding: 0.5rem 1rem;
            font-family: sans-serif;
            margin-top: 1rem;
            opacity: 0;
            visibility: hidden;
            transform: translateY(20px);
            z-index: 2;
            margin-bottom: 0;
            border-radius: 4px;
            position: relative;
            font-weight: bold;
            margin-left: 1rem;
          }
        }
      }
    }
    &__all{
      li{
        height: 100px;
      }
    }
    a{
      &.rupture{
        cursor: not-allowed;
        pointer-events: none;
        opacity : 0.8;
        .rupture{
          background-color : red;
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }
}

.title{
  &__section{
    margin: 2rem 0;
    font-size: 2rem;
    text-align: center;
  }
}
main{
  overflow-y:auto; overflow-x:hidden !important;
}