{% extends 'connexion/base.html' %}

{% block contenu %}
{% if validlink %}
<h2>Réinitialisation du mot de passe</h2>
<p>Veuillez saisir votre nouveau mot de passe.</p>

<form method="post">
    {% csrf_token %}
    {% if form.new_password1.errors %}
    <ul class="alert alert-danger">
        {% if error in form.new_password1.errors %}
        <li>{{ error }}</li>
        {% endif %}
    </ul>
    {% endif %}
    {% if form.new_password2.errors %}
    <ul class="alert alert-danger">
        {% if error in form.new_password2.errors %}
        <li>{{ error }}</li>
        {% endif %}
    </ul>
    {% endif %}
    <table>
        <tr>
            <td>
                <label for="id_new_password1">Nouveau mot de pass :</label>
            </td>
            <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
            <td>
                <label for="id_new_password2">Confirmer mot de pass :</label>
            </td>
            <td>{{ form.new_password2 }}</td>
        </tr>
    </table>
    <input type="submit" class="btn" value="Changer mon mot de passe">
</form>
{% else %}
<h2>Echec de réinitialisation du mot de passe.</h2>
<p>Le lien de réinitialisation du mot de passe est invalide, Veuillez réessayer.</p>
{% endif %}
{% endblock %}