{% extends 'applipizza/base.html' %}

{% block title %}
Les pizzas
{% endblock %}

{% block title_page %}
Liste de nos pizzas
    <a href="/pizzas/add" class="link_to_add">Ajouter +</a>
{% endblock %}

{% block content %}
    <h2>Voici nos {{ pizzas|length }} pizzas</h2>
    <ul class="ul_ingr">
        {% for piz in pizzas %}
        <li class="disp_ingredients">
            {{ piz }}
            <div>
                <a href="/pizzas/{{ piz.idPizza }}" class="link_to">Détails</a>
                <a href="/pizzas/{{ piz.idPizza }}/update" class="link_to_edit">✏</a>
                <a href="/pizzas/{{ piz.idPizza }}/delete" class="link_to_delete">✖</a>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
